#world {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.fatherBox {
  margin: auto;
  width: 560px;
  position: relative;
  .imgBox {
    position: absolute;
    z-index: 114;
    left: 50%;
    margin-left: -17.8px;
    top: -200px;
    transition: 0.3s all;
    transform-origin: 50% 0%;
    cursor: pointer;
    .miniLogo {
      height: 41.2px;
      position: absolute;
      top: 12.8px;
    }
  }
}
