.index_page {
  width: 100%;
  height: 100%;
}

.canvas_wrapper {
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hidden {
  display: none;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.test {
  position: relative;
  text-align: center;
  margin: auto;
  .t1 {
    top: 50vh;
  }
  .t2 {
    top: 50vh;
    // left: 50vw;
  }
  .t3 {
    top: 50vh;
  }
}
