.loading {
  display: flex;
  z-index: 114;
  width: 100vw;
  height: 100vh;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #0a0d1b;
  color: white;
  .loadingBarGroup {
    position: absolute;
    height: 0;
    top: 10.5rem;
    left: 0;
    width: 100%;
    .loadingBar {
      position: absolute;
      border-bottom: 1px solid #fff;
      width: 0%;
      transition: width 600ms;
      &::after,
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        height: 1px;
        transition: box-shadow 300ms 100ms;
      }
    }
    .left {
      left: 0px;
      width: 50%;
      &::before {
        box-shadow: 10px 0 15px 1px #fff;
        right: 0;
      }
      &::after {
        box-shadow: 0.5px 0 8px 2px #fff, 0.5px 0 2px 1px #fff;
        right: 0;
      }
    }
    .right {
      right: 0px;
      width: 50%;
      &::before {
        box-shadow: -10px 0 15px 1px #fff;
        left: 0;
      }
      &::after {
        box-shadow: -0.5px 0 8px 2px #fff, -0.5px 0 2px 1px #fff;
        left: 0;
      }
    }
  }
  .loadingComplete {
    .left {
      &::after,
      &::before {
        box-shadow: 0px 0px 0px 0px #fff;
      }
    }
    .right {
      &::after,
      &::before {
        box-shadow: 0px 0px 0px 0px #fff;
      }
    }
  }
  .logo {
    .logoInside {
      height: 2rem;
    }
  }
  .name {
    margin-top: 0.5rem;
    font-size: 0.5rem;
  }
  .progress {
    margin-top: 0.5rem;
    font-size: 0.5rem;
  }
  .enter {
    position: fixed;
    left: 50%;
    bottom: 0;
    font-size: 0.4rem;
    padding: 0.16rem 0.5rem;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff0;
    transform: translate(-50%, -50%);
    transition: background-color;
    cursor: pointer;
  }
  .disableEnter {
    position: fixed;
    left: 50%;
    bottom: 0;
    font-size: 0.4rem;
    padding: 0.16rem 0.5rem;
    border: 1px solid grey;
    border-radius: 10px;
    color: grey;
    background-color: #fff0;
    transform: translate(-50%, -50%);
    transition: background-color;
  }
}

.hidden {
  display: none;
}
